<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="businessClient" type="Microsoft.Dynamics.Framework.UI.BusinessClientConfigSection, Microsoft.Dynamics.Framework.UI, Version=8.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <section name="uri" type="System.Configuration.UriSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </configSections>
    <uri>
        <idn enabled="All"/>
        <iriParsing enabled="true"/>
    </uri>
    <businessClient startupFormType="homepage">
        <Factories>
            <Factory>
                <add name="NAV" type="Microsoft.Dynamics.Nav.Client.FormBuilder.NavBuilderFactory, Builder" serviceName="NAVSessionType"/>
            </Factory>
        </Factories>
    </businessClient>
    <runtime>
      <NetFx40_LegacySecurityPolicy enabled="true"/>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Dynamics.Framework.UI.Extensibility" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="1.3.0.0-9.1.0.0" newVersion="11.0.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Dynamics.Framework.UI.WinForms.Controls" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
                <bindingRedirect oldVersion="1.3.0.0" newVersion="1.5.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.28.2.795" newVersion="2.28.2.795" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.28.2.795" newVersion="2.28.2.795" />
            </dependentAssembly>
            <probing privatePath="Add-ins\CodeViewer;Add-ins\CodeViewer\DebuggerComponents;Add-ins\CodeViewer\CommonComponents"/>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
