<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- The path can be absolute or relative to the Add-ins\NavDebugger folder-->
    <add key="EditorComponentsPath" value="CommonComponents"/>
    <add key="DebuggerComponentsPath" value="DebuggerComponents"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
